.info-item {
  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;

    @media screen and (min-width: 992px) {
      margin-bottom: 20px;
    }

    &--warning {
      color: var(--color-primary);
    }
  }

  &__description {
    color: var(--color-secondary-text);
  }

  &__description-block {
    color: var(--color-secondary-text);

    * {
      color: inherit;
    }

    & > * {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    li:before {
      content: "—";
      color: var(--color-primary);
      padding-right: 12px;
    }
  }
}
