.contact-form {
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    height: 620px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form {
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 4px 4px var(--color-shadow);
  max-width: 629px;
  padding: 30px 30px;
  position: relative;
  width: 100%;
  z-index: 1;

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  input,
  textarea {
    background: var(--color-background);
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 20px;
    font-family: inherit;
    font-size: 16px;
  }

  input {
    height: 50px;
  }

  textarea {
    resize: none;
    font-family: inherit;
    height: 150px;

    @media screen and (min-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
